<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Tarjeta Chiquilin</title>
    <script
      src="https://code.jquery.com/jquery-3.4.0.js"
      integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
      crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/styleshome.css" rel="stylesheet">

  </head>
  <body>

<nav class="navbar barranav navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">tarjeta chiquilin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuToggle" aria-controls="menuToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menuToggle">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/registro">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comofunciona">¿Cómo funciona?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/beneficios">Beneficios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/canjea#cartas">Canjeá tus puntos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usrhome">Mi cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="botonloginlogout" href="/<%= locals.logmethod %>"><%= locals.logmethod %></a>
          </li>
        </ul>
      </div>
    </nav>



<div class="position-relative overflow-hidden p-3 p-md-5  text-center bg-light" id="fondoojo">
