<%- include("partials/headerusrlogged"); -%>

  <div class="flex-container">

    <div class="caja">
      <!-- <img src="/images/logochiquiblancotransp.png" class="logochiquilin" alt="logo chiquilin"> -->
      <h1 class="display-4 titulo">Active su cuenta</h1>
      <p class="bajada">Un mensaje fue enviado a su casilla de correo electrónico. Siga las instrucciones del mensaje y verifique su cuenta.</p>

    </div>
  </div>




  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<%- include("partials/footerusr"); -%>
