<%- include("partials/header"); -%>
<!-- <script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->
  <form class="form-signin"  action="/admin" method="post">

    <div class="form-signin-2">

      <h1 class="h3 mb-3 font-weight-normal">Ingrese Numero de cliente</h1>
      <label for="inputEmail" class="sr-only">Numero de cliente</label>
      <input type="password" id="latarjetacliente" minlength="8" maxlength="9" name="numTarjeta" id="inputEmail" class="form-control top tarjeta" placeholder="Numero de cliente" required autofocus>

      <button class="btn btn-lg btn-outline-secondary btn-block" style="margin-top: 8px" type="submit">Ingresar Cliente</button>
      <hr>
      <br><br>
      <a href="/registro" class="btn btn-lg btn-outline-secondary btn-block" role="button" >Registrar Cliente</a>
      <br>
      <a href="/asignar" class="btn btn-lg btn-outline-secondary btn-block" role="button" >Asignar Tarjeta</a>
      <br>
      <a href="/descargas" class="btn btn-lg btn-outline-secondary btn-block" role="button" >Descargas</a>
    <br><br><br>
      <a href="/logout" class="btn btn-lg  btn-outline-secondary btn-block" role="button" >Cerrar Sesión <i class="fas fa-lock"></i></a>


      <p class="mt-5 mb-3 text-muted">&copy; Chiquilin-2019</p>
    </div>
  </form>

<!-- <script type="text/javascript">
  $("#latarjetacliente").on("change", function(){
    this.value += "[";
  });
</script> -->




      <%- include("partials/footer"); -%>
