<%- include("partials/headerusrlogged"); -%>

  <div class="flex-container justify-content-around">

    <div class="caja">
      <h1 class="display-4 titulo">Premios</h1>
      <p class="bajada">Con tu tarjeta Chiquilín, vas a poder canjear tus puntos por muchos premios</p>
      <p class="bajada">Desde vinos de regalo, entradas al teatro, cupones de descuento y más</p>

    </div>

    <div class="caja">
      <h1 class="display-4 titulo">Reservas</h1>
      <p class="bajada">Olvidate de la lista de espera. Ingresá con tu usuario y contraseña</p>
      <p class="bajada">Podés realizar reservas de modo más fácil y rápido.</p>
    </div>

    <div class="caja">
      <h1 class="display-4 titulo">Promociones</h1>
      <p class="bajada">Enterate antes que nadie las promociones que sacamos todos los meses</p>
      <p class="bajada">Pedí cortes especiales con antelación y probar antes que nadie los platos nuevos </p>

    </div>


  </div>



  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<!-- <div class="flex-container justify-content-around" style="background-color: #343a40;">
  <div class="card m-3" style="width: 14rem; height: 18rem;">
    <img src="/images/chicos/entradas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-title" style="text-align: center;">Entradas (2) para teatro</h6>
      <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
    </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/vinos.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Vinos de regalo</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/showdetango.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Show de tango</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/postres.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Degustacion de postres</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
  <div class="card m-3" style="width: 14rem; height: 18rem;">
  <img src="/images/chicos/descuentos.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title" style="text-align: center;">Descuentos en Chiquilin</h6>
    <a href="#" class="btn btn-primary" style="width: 100%;">Ver canje</a>
  </div>
  </div>
</div> -->

<script type="text/javascript">
  $.getJSON("api/user_data", function(data) {
    // Make sure the data contains the username as expected before using it
    if (data.hasOwnProperty('username')) {
        console.log('Usrename: ' + data.username);
    }
});
</script>

<%- include("partials/footerusr"); -%>
