<%- include("partials/header"); -%>

<div class="divconfirma jumbotron form-signin-2">
  <a href="/admin"><i class="fas fa-home fa-3x homeicon"></i></a>

  <h2 class="display-6"><%= locals.horaConfirmada %></h2>
  <h2 class="display-8"><%=locals.accionConfirmada%></h2>


  <hr class="">

<i class="fas fa-check-circle fa-7x" style="color: green"></i>

  <hr class="">
<br><br><br><br><br>

  <a href="/admin" class="btn btn-lg btn-info " role="button">Volver a Principal</a>

  </div>





<%- include("partials/footer"); -%>
