<%- include("partials/header"); -%>

<div class="divconfirma form-signin-2">
  <a href="/"><i class="fas fa-home fa-3x homeicon"></i></a>

  <h2 class="display-6"><%= locals.accionRegistro %></h2>
  <h2 class="display-8"><%=locals.accionConfirmada%></h2>


  <hr class="">

<i class="fas fa-check-circle fa-7x" style="color: green"></i>

  <hr class="">
<br><br><br><br><br>

  <a href="/" class="btn btn-lg btn-info " role="button" >Volver a Principal</a>

  </div>





<%- include("partials/footer"); -%>
