<%- include("partials/header"); -%>
<!-- <script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->

<a href="/admin"><i class="fas fa-home fa-3x homeicon"></i></a>

  <form class="form-signin">

    <div class="form-signin-2">
      <br><br><br><br>
      <a href="<%= locals.linkdescarga %>" class="btn btn-lg btn-outline-secondary btn-block" role="button" >Descargar movimientos   <i class="fas fa-file-download"></i></a>



    </div>
  </form>

<!-- <script type="text/javascript">
  $("#latarjetacliente").on("change", function(){
    this.value += "[";
  });
</script> -->




      <%- include("partials/footer"); -%>
