<%- include("partials/headerusrlogged"); -%>

  <div class="flex-container justify-content-around">

    <div class="caja">
      <!-- <img src="/images/logochiquiblancotransp.png" class="logochiquilin" alt="logo chiquilin"> -->
      <h1 class="display-4 titulo">Tarjeta Chiquilín</h1>
      <p class="bajada">Aprovechá los beneficios, sumá puntos y canjealos por grandes premios</p>
      <a class="btn btn-outline-light btn-lg btn-block" id="botonregistro" href="/registro">Registrate ahora</a>
    </div>
  </div>




  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<%- include("partials/footerusr"); -%>
