<%- include("partials/headerusrlogged"); -%>


<form class="" action="/login" method="post" id="formregistrosubmit">
<div class="flex-container">



      <div class="caja">

        <h1 class="display-4 titulo">Loguear usuario</h1>
        <p class="bajada">Complete los campos con usuario y contrase単a. </p>
      </div>

      <div class="caja-form rounded">
        <h1 class="h3 mb-3 font-weight-normal">Usuario</h1>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input style="margin-bottom: 15px;" type="text" name="username" class="form-control top" placeholder="Usuario" required autofocus>

        <h1 class="h3 mb-3 font-weight-normal">Contrase単a</h1>
        <label for="inputEmail" class="sr-only">Contrase単a</label>
        <input style="margin-bottom: 15px; margin-top: 15px;" type="password"  minlength="8" maxlength="32" name="password" id="password" class="form-control middle" style="margin-bottom: 3px; margin-top: 3px;" placeholder="Contrase単a" required autofocus>

        <button class="btn btn-outline-light btn-lg btn-block" id="botonregistro2" type="submit">LogIn Usuario</button>

      </div>


    </form>
    <div class="caja">
      <p class="bajada">o logueate por medio de Google</p>
      <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign in with Google
      </a>

    </div>
  </div>

  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>



<%- include("partials/footerusr"); -%>
