<%- include("partials/header"); -%>
<!-- <script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->

<h1><%= locals.nombreDeUsuario %> </h1>
<!--
<form class="form-signin-2" action="/registro" method="post">

  <div class="form-signin-2">

    <a href="/admin"><i class="fas fa-home fa-3x homeicon"></i></a>
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2 class="h3 mb-3 font-weight-normal">Numero de cliente</h2>
    <label for="inputEmail" class="sr-only">Numero de cliente</label>
    <input type="password" id="latarjetacliente" minlength="8" maxlength="9" name="numCliente" class="form-control top tarjeta" style="margin-bottom: 10px;" placeholder="Numero de cliente" required autofocus>

    <h2 class="h3 mb-3 font-weight-normal">Nombre y apellido</h2>
    <label for="inputEmail" class="sr-only">Nombre y apellido</label>
    <input type="text" name="nomCliente" id="inputEmail" class="form-control top" placeholder="Nombre y Apellido" required autofocus>

    <h2 class="h3 mb-3 font-weight-normal">DNI Cliente</h2>
    <label for="inputEmail" class="sr-only">DNI Cliente</label>
    <input type="text" name="dniCliente" id="inputEmail" class="form-control top" placeholder="DNI Cliente" required autofocus>

    <h2 class="h3 mb-3 font-weight-normal">E-m@il</h2>
    <label for="inputEmail" class="sr-only">E-m@il</label>
    <input type="email" name="mailCliente" id="inputEmail" class="form-control top" placeholder="E-mail" required autofocus>

    <hr>

    <button class="btn btn-lg btn-outline-secondary btn-block" type="submit">Registrar Cliente</button>
    <hr>

    <p class="mt-5 mb-3 text-muted">&copy; Chiquilin-2019</p>
  </div>

</form> -->


<!-- <script type="text/javascript">
  $("#latarjetacliente").on("change", function(){
    this.value += "[";
  });
</script> -->


<%- include("partials/footer"); -%>
