<%- include("partials/header"); -%>
<!-- <script
src="http://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->

<form class="form-signin-2" action="/regadmin" method="post">

  <div class="form-signin-2">

    <a href="/admin"><i class="fas fa-home fa-3x homeicon"></i></a>
    <h1 class="h3 mb-3 font-weight-normal">Nombre de usuario</h1>
    <label for="inputEmail" class="sr-only">Nombre de usuario</label>
    <input type="text"  name="username" class="form-control top" style="margin-bottom: 10px;" placeholder="Nombre de User" required autofocus>
    <h1 class="h3 mb-3 font-weight-normal">Email</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" name="email"  class="form-control top" placeholder="Email" required autofocus>
    <h1 class="h3 mb-3 font-weight-normal">Contraseña</h1>
    <label for="inputEmail" class="sr-only">Contraseña</label>
    <input type="text" name="password"  class="form-control top" placeholder="Contraseña" required autofocus>

    <hr>

    <button class="btn btn-lg btn-outline-secondary btn-block" type="submit">Registrar Usuario</button>
    <hr>

    <p class="mt-5 mb-3 text-muted">&copy; Chiquilin-2019</p>
  </div>

</form>
<!-- <script type="text/javascript">
  $("#latarjetacliente").on("change", function(){
    this.value += "[";
  });
</script> -->


<%- include("partials/footer"); -%>
