<%- include("partials/headerusrlogged"); -%>


<form class="" action="/registro" method="post" id="formregistrosubmit">
<div class="flex-container">



      <div class="caja">

        <h1 class="display-4 titulo">Registro de usuario</h1>
        <p class="bajada">Complete los campos con sus datos y haga click en 'Registrar Cliente'. Recibirá un email en su casilla de correo para verificar tu cuenta de Tarjeta Chiquilín </p>
              </div>

      <div class="caja-form rounded">
        <input style="margin-bottom: 15px;" type="text" name="username" class="form-control top" placeholder="Usuario" required autofocus>

        <input style="margin-bottom: 15px; margin-top: 15px;" type="password"  minlength="8" maxlength="32" name="password" id="password" class="form-control middle" style="margin-bottom: 3px; margin-top: 3px;" placeholder="Contraseña" required autofocus>
        <input style="margin-bottom: 15px; margin-top: 15px;" type="password"  minlength="8" maxlength="32" name="password2" id="password2" class="form-control middle" style="margin-bottom: 3px; margin-top: 3px;" placeholder="Confirme contraseña" required autofocus>

        <input style="margin-bottom: 15px; margin-top: 15px;" type="email" name="mailCliente" id="emailcliente" class="form-control middle" placeholder="E-mail" required autofocus>
        <input style="margin-bottom: 15px; margin-top: 15px;" type="email" name="mailCliente2" id="emailcliente2" class="form-control middle" placeholder="Confirme E-mail" required autofocus>

        <button class="btn btn-outline-light btn-lg btn-block" id="botonregistro2" type="submit">Registrar Cliente</button>

      </div>

    </form>

    <div class="caja">
      <p class="bajada">o registrate por medio de Google</p>
      <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign up with Google
      </a>

    </div>
  </div>

  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<script type="text/javascript">

$("#formregistrosubmit").submit(function(){
  var pass1 = $("#password").val();
  var pass2 = $("#password2").val();
  var mail1 = $("#emailcliente").val();
  var mail2 = $("#emailcliente2").val();
  if (pass1 != pass2) {
    event.preventDefault();
    alert("Contraseñas ingresadas no coinciden");
  }
  if (mail1 != mail2) {
    event.preventDefault();
    alert("Direcciones de correo no coinciden");
  }

});

</script>

<%- include("partials/footerusr"); -%>
