<%- include("partials/headerusrlogged"); -%>

  <div class="flex-container justify-content-around">

    <div class="caja">
      <h2 class="display-4 titulo">Ingresá tu nueva contraseña</h2>
      <form class="rounded" style="padding: 20px;" action="/reset/<%= token %>" method="post">
        <input type="password" id="nuevopass1" style="margin-bottom: 10px;" name="np1" class="form-control" required autofocus placeholder="Tu nueva contraseña">
        <input type="password" id="nuevopass2" style="margin-bottom: 10px;" name="np2" class="form-control" required autofocus placeholder="Confirmá tu nueva contraseña">

        <button class="btn btn-outline-light btn-lg btn-block" id="botonregistro" type="submit">Enviar</button>
      </form>


    </div>

  </div>
</div>

<script type="text/javascript">

$("#formregistrosubmit").submit(function(){
  var pass1 = $("#nuevopass1").val();
  var pass2 = $("#nuevopass2").val();

  if (pass1 != pass2) {
    event.preventDefault();
    alert("Contraseñas ingresadas no coinciden");
  }

});

</script>


<%- include("partials/footerusr"); -%>
